*.pro.user
*.pro.user.*
*.vcproj.user
*.vcxproj.user
*.sln.layout
*.vs/
.idea/ # For IntelliJ-based IDEs

debug/
release/
build/
bin/
obj/
*.o
*.obj
*.exe
*.dll
*.lib
*.so
*.a
*.ilk
*.pdb
*.exp
*.idb
*.opt
*.aps
*.ncb
*.suo
*.user
*.bak
*.moc
*.ui.h
ui_*.h 

Makefile
Makefile.*
*.pri

.DS_Store               
Thumbs.db           
Desktop.ini          

*.msi
*.dmg
*.deb
*.rpm

*~
*.log
*.tmp
*.swp

EmulatorProject/